*,
*::before,
*::after {
  box-sizing: border-box;
}
.navBar {
  display: flex;
  background-color: #640fc5;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
  margin: auto;
  padding-inline: 5%;
  padding-block: 1.5%;
  align-items: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}
.logoSass {
  cursor: pointer;
}
.logoSass img {
  width: 80px;
  height: 80px;
}
.navMenu li {
  display: inline-block;
  margin-left: 25px;
  font-size: 1.5rem;
  cursor: pointer;
}
.navMenu li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.header {
  display: flex;
  background-color: #640fc5;
  justify-content: space-between;
  padding-left: 5%;
  border-bottom: 1px solid white;
}
.mainHeader {
  display: flex;
  flex-direction: column;
  padding: 93px 0px 92px;
}
.mainHeader h1 {
  font-size: 6rem;
  color: black;
}
.mainHeader h3 {
  padding-block: 2rem;
  font-size: 1.5rem;
  color: #191919;
}
.mainHeader button {
  margin: 1%;
  padding: 1%;
  background-color: #191919;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  width: 40%;
}
// .imgAnimation img{
//     max-width: 300px;
//     max-height: 300px;
// }
